html{
    overflow: hidden;
    z-index: 1;
    
}
button{
    position: relative;
    top: 3vh;
    margin: auto auto auto auto;
    left: 0vh;
}
.settings-block{
    text-align: center;
    border-radius: 8%;
    margin: 1vh;
    width: 20vh;
    height: 10vh;
    background-color: aliceblue;
}
.hud-menu{
    visibility: hidden;
    margin: 10%;
    position: absolute;
    border-radius: 10px;
    border: 5px solid gray;
    width: 50vh;
    height: 50vh;
    background-color: gray;
    display: inline-flex;
}
.menu-sec{
    position: relative;
}

.yanyan{
    position: absolute;
    top: 95vh;
    display: inline-flex;
 }
 .kutu{
    margin-left: 0.5vh;
    width: 10vh;
    height: 23px;
    border: solid 2px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: gray;
 }
 
 .kalp-yuzde{
     border-radius: 10px;
     background-color: rgb(0, 255,0);
     width: 90%;
     height: 100%;
 }


 .Zirh-yuzde{
     border-radius: 10px;
     background-color: rgb(255, 255, 255);
     width: 50%;
     height: 100%;
 }
 .hunger-percent{
    border-radius: 10px;
    background-color: rgb(255, 127, 0);
    width: 50% ;
    height: 100%;

 }
 .thirst-percent{
    border-radius: 10px;
    background-color: rgb(0, 127, 255);
    width: 50% ;
    height: 100%;
 }
 .stamina-percent{
    border-radius: 10px;
    background-color: rgb(0, 255,255);
    width: 50% ;
    height: 100%;
 }
 .oxygen-percent{
    border-radius: 10px;
    background-color: rgb(255,0,0);
    width: 50%;
    height: 100%;
 }

 .yanyan span{
     margin-left: 5px;
 }
 .gosterge{
   display: flex;
    margin: 88vh 20vh auto auto;
    width: 10px;
    height: 10px;
   
 }

 .kmh{
    width: 20vh;
    height: 10vh;
    border-style: solid;
    border-color: wheat;
    border-width: 5px 5px 0px 5px;
    border-radius:10vh 10vh 0vh 0vh;
    
 }
 .seatbelt{
   position: absolute;
   color: white;
   margin: 3% auto auto 3% ;
   
   

}
.rpmeter{
   position: absolute;
   display: flex;
   margin: 3% auto auto 6%;
   width: 3vh;
   height: 2vh;
   border-style: solid;
   border-color: white;
   border-width: 3px 3px 0px 3px;
   border-radius:10vh 10vh 0vh 0vh;
   
       
       
   

}
#rpm{
   color: white;

}
 .speedemeter{
   position: absolute;
   margin: 4% auto auto 5%;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    z-index: 3;
    text-shadow: 0px 0px 5px black;
    text-align: center;
   
    
    

 }
 .stick{
    
    width: 45%;
    height: 10%;
    box-shadow:black;
    background: wheat;  
    border-radius: 0%;
    margin: 50% 50% auto auto;
    transform-origin:100% 0%;
   rotate: 180deg; 
 }